<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/static/output.css" rel="stylesheet">
    </head>
</html>

  <div class="overflow-x-auto">
    <table class="table">
      <!-- head -->
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Album</th>
          <th>Länge</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <!-- row 1 -->
        <tr>
            <th>
                <div class="text-4xl font-thin opacity-30 tabular-nums">01</div>
            </th>
          <td>
            <div class="flex items-center gap-3">
              <div class="avatar">
                <div class="mask mask-squircle h-12 w-12">
                  <img
                    src="https://i.scdn.co/image/ab67616d0000b273987fb4c5ec8790e9f637a4a4"
                    alt="Avatar Tailwind CSS Component" />
                </div>
              </div>
              <div>
                <div class="font-bold">CASTLE OF GLASS</div>
                <div class="text-sm opacity-50">Linkin Park</div>
              </div>
            </div>
          </td>
          <td>
            LIVING THINGS
          </td>
          <th>
            3:30
          </th>
        </tr>
    </table>
  </div>